@charset "utf-8";
/* Base Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;	font-size: 100%;font-family: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
:focus {outline:0;}
img {border:0;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
.clear {width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline;}
.clear {clear:both;}
.none {display:none;}
.hidden {visibility:hidden;}
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix{display: block; *zoom:1;}

/**布局开始**/
body {BACKGROUND: #f5f4f0;}
body,p {font:12px/1  "Microsoft YaHei", "\u5b8b\u4f53",Tahoma, Geneva, sans-serif; color:#333333;}
a {color:#333333; text-decoration:none;}
a:link {color:#333333;}
a:visited {color:#333333;}
a:hover {color: #a70a05; text-decoration:none;}
a:active {color:#333333;}

.wrapper {width:100%; margin:0 auto;}
.wrapper .inner {width: 1200px; margin:0 auto;} /**页面全局宽度**/

/*头部BANNER*/
#header {}
.head {width:100%; height:140px; position: relative; background: url(../images/head_bg.jpg) center top no-repeat;}


/**导航条**/
#naver { margin: 0 auto; background: #352907;}
.nav { width:100%; height: 50px; line-height: 50px; margin: 0px auto;}
.nav-bar { width: 100%; margin: 0 auto;}
.nav-box { margin: 0 auto; }
.nav-box .wp_nav .nav-item {line-height: 50px;}
.nav-box .wp_nav .nav-item a {color: #fff;}
.nav-box .wp_nav .nav-item.selected A {}
.nav-box .wp_nav .nav-item.on {background: #fff;}
.nav-box .wp_nav .nav-item.on a {color: #352907;}
.nav-box .wp_nav .nav-item a span.item-name {font-size: 18px; font-weight: normal; padding: 0 40px; line-height: normal;}
.nav-box .wp_nav .nav-item.on a span.item-name {font-size: 18px;}
.nav-box .wp_nav .sub-nav {border: none;}
#wp_nav_w201 ul.sub-nav { width: 152px !important;}
.nav-box .wp_nav .sub-nav .nav-item {background: transparent; width: auto; min-width: 152px; margin-left: 0; border-left: none; border-right: none;}
.nav-box .wp_nav .sub-nav .nav-item a {background: #fff; border-top: none; line-height: normal;}
.nav-box .wp_nav .sub-nav .nav-item.on a{background: #352907;}
.nav-box .wp_nav .sub-nav .nav-item a.parent:hover{background: #352907; color: #fff;}
.nav-box .wp_nav .sub-nav .nav-item a span.item-name {font-size: 16px; font-weight: normal; line-height: 45px; padding: 0px 10px; color: #352907; min-width: 134px; text-align: center;}
.nav-box .wp_nav .sub-nav .nav-item.on a span.item-name {color: #fff;}

/**Jumbotran**/
#jumbotran {}
.jumbotran .jumbotran-box {margin-bottom: 30px; background: #fff;}
.jumbotran .focus-navigation,
.jumbotran .focus-navigation:hover {font-size: 60px; font-weight: normal; background: transparent;}
.jumbotran .focus-pagination {bottom: 5px; right: 48%;}
.jumbotran .focus-prev {left: 10px;}
.jumbotran .focus-next {right: 10px;}
.jumbotran .focus-page {background-color: rgba(255,255,255,0.5);  margin-left: 7px; margin-right: 0; border-radius: 5px; width: 10px; height: 10px;}
.jumbotran .focus-page-active  {background-color: #fff;}
.jumbotran .focus-title-bar {height: 50px; left: 15%; bottom: 50px;}
.jumbotran .focus-title-bg {opacity: 0.5; background-color: #000;}
.jumbotran .focus-title {height: 50px; line-height: 50px; font-size: 24px; font-weight: bold; font-family:"Microsoft YaHei"; padding: 0 20px;}

/**主体部分**/
#container {}
#container .inner {
    padding: 0;
    padding-top: 30px;
}

.mod {width: 100%; padding: 0px; margin: 0 auto;}
.mod-h {margin-bottom: 30px;}
.mod-h .mod-l {width: 880px; float: left;}
.mod-h .mod-r {width: 300px; float: right;}
.c-box {}
.c-box.fastpass {width: 180px; float: left; background: #eee; height: 360px;}
.c-box.news {width: 700px; float: right; background: #fff; height: 360px;}
.c-box.notice {background: #fff; height: 360px;}
.c-box.party {background: #fff url(../images/party_bg_.jpg) left bottom no-repeat; height: 300px;}
.c-box.activity {background: #fff; height: 300px;}

/*页脚*/
#footer {background: #352907;}
.foot {height: 120px; margin: 0 auto; position: relative;}
.foot .location {line-height: 20px; color: #fff; padding-left: 30px; background: url(../images/location.png) left center no-repeat; position: absolute; right: 0; top:40px; width: 360px;}
.foot .link1 {width: 220px; height: 32px; position: absolute; left: 0; top: 44px; background: #776227;}
.foot .link2 {width: 220px; height: 32px; position: absolute; left: 240px; top: 44px; background: #776227;}

/*首页自定义新闻列表*/
.post {	margin: 0 auto; padding: 0;}

.post-fastpass {}
.post-fastpass .nav-item {height: 120px; line-height: 170px; overflow: hidden; background-repeat: no-repeat; background-position: center 30px;width:100%;}
.post-fastpass .nav-item.i1 {background-color: #9b8e6b; background-image: url(../images/icon_book.png);}
.post-fastpass .nav-item.i2 {background-color: #868566; background-image: url(../images/icon_flag.png);}
.post-fastpass .nav-item.i3 {background-color: #adada1; background-image: url(../images/icon_download.png);}
.post-fastpass .nav-item.i1:hover {background-color: #90825b;}
.post-fastpass .nav-item.i2:hover {background-color: #94937a;}
.post-fastpass .nav-item.i3:hover {background-color: #909082;}
.post-fastpass .nav-item A {color: #fff; display: block; width: 100%; height: 120px; font-size: 14px;}
.post-fastpass .nav-item A:hover {color: #fff;}

.post-news {padding: 10px 20px;}
.post-news .banner { margin: 0 auto; overflow: hidden; background: url(../images/banner_bottom.gif) center bottom repeat-x;}
.post-news .banner .title-text { height: 40px; line-height: 40px ; padding:0 10px; text-align: left; text-indent: 0; font-weight: normal; float: left; font-size: 18px; color: #333333; background: url(../images/banner_text_bottom.gif) center bottom repeat-x;}
.post-news .banner .more {float: right; margin-top: 0;}
.post-news .banner .more-btn { width: 60px; height: 40px; line-height: 40px; text-align: right; color: #a70a05; font-size: 12px; font-weight: normal;}
.post-news .banner .more-btn A{ color: #a70a05; text-decoration: none; display: block; width: 60px; height: 40px;}
.post-news .banner .more-btn A:hover{ color: #a70a05; text-decoration: none;}
.post-news .con {padding: 20px 0;}
.post-slider {width: 280px; float: left;}
.post-slider .con {padding: 0;}
.post-slider .focus-title-bar {height: 35px; bottom: -35px;}
.post-slider .focus-title-bg {background: transparent; height: 35px;}
.post-slider .focus-title {width: 100%; height: auto; line-height: 30px; overflow: hidden; font-size: 14px; font-weight: bold; font-family:"Microsoft YaHei"; padding: 0; color: #a70a05; white-space: normal;}
.post-slider .focus-title A, .post-slider .focus-title A:hover {color: #a70a05;}
.post-slider .focus-title .abstract {display: block; color: #828282; font-size: 12px; font-weight: normal; line-height: 20px;}
.post-slider .focus-page {background-color: rgba(255,255,255,0.5); margin-left: 7px; margin-right: 0; border-radius: 5px; width: 10px; height: 10px;}
.post-slider .focus-page-active  {background-color: #fff;}
.post-news-list {width: 360px; float: right;}
.post-news-list .con {padding: 0;}
.post-news-list .con .wp_article_list .list_item {height: 34px; border-bottom: none;}
.post-news-list .con .wp_article_list .list_item .Article_Index {display: none;}
.post-news-list .con .wp_article_list .list_item .Article_Title {width: 100%; height: 34px; line-height: 34px; text-indent: 0px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; float: left; font-size: 14px; font-weight: normal;}
.post-news-list .con .wp_article_list .list_item .Article_Title A {font-size: 14px; height: 34px; line-height: 34px;}
.post-news-list .con .wp_article_list .list_item .Article_Title A:hover {}

.post-notice {padding: 10px 20px;}
.post-notice .banner { margin: 0 auto; overflow: hidden; background: url(../images/banner_bottom.gif) center bottom repeat-x;}
.post-notice .banner .title-text { height: 40px; line-height: 40px ; padding:0 10px; text-align: left; text-indent: 0; font-weight: normal; float: left; font-size: 18px; color: #333333; background: url(../images/banner_text_bottom.gif) center bottom repeat-x;}
.post-notice .banner .more {float: right; margin-top: 0;}
.post-notice .banner .more-btn { width: 60px; height: 40px; line-height: 40px; text-align: right; color: #a70a05; font-size: 12px; font-weight: normal;}
.post-notice .banner .more-btn A{ color: #a70a05; text-decoration: none; display: block; width: 60px; height: 40px;}
.post-notice .banner .more-btn A:hover{ color: #a70a05; text-decoration: none;}
.post-notice .con {padding: 24px 0 0 0;}
.post-notice .con .wp_article_list .list_item {width: 260px; height: 84px; border-bottom: none; background: transparent; margin-bottom: 0;}
.post-notice .con .wp_article_list .list_item .Article_Index {display: none;}
.post-notice .con .wp_article_list .list_item .Article_PublishDate {width: 60px; height: 60px; background: #ffffff; border: 1px solid #9b8e6b; float: left;}
.post-notice .con .wp_article_list .list_item .Article_PublishDate .Date {width: 100%; height: 31px; line-height: 31px; font-size: 24px; text-align: center; color: #fff; background: #9b8e6b; overflow: hidden;}
.post-notice .con .wp_article_list .list_item .Article_PublishDate .YearMonth {width: 100%; height: 29px; line-height: 32px; font-size: 14px; text-align: center; color: #9b8e6b; overflow: hidden;}
.post-notice .con .wp_article_list .list_item .Article_Content {width: 185px; height: 62px; float: right;}
.post-notice .con .wp_article_list .list_item .Article_Title {width: 100%; margin: 0 auto 5px auto; line-height: 20px; text-indent: 0px; overflow: hidden; font-size: 14px; font-weight: normal; color: #343535;}
.post-notice .con .wp_article_list .list_item .Article_Title A {font-size: 14px; color: #333;}
.post-notice .con .wp_article_list .list_item .Article_Title A:hover {}
.post-notice .con .wp_article_list .list_item .Article_Abstract {width:100%; margin: 0 auto; color:#888; line-height: 20px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.post-notice .con .sudy-scroll-page .active {background: #9b8f69;}



.post-party {}
.post-party .banner {width: 195px; line-height: 68px; float: left; background: url(../images/party_sidemenu.png) left center no-repeat;}
.post-party .banner .title-text { height: 68px; line-height: 68px ; padding:0; text-align: left; text-indent: 52px; font-weight: normal; float: left; font-size: 18px; color: #fff;}
.post-party .banner .title-text A, .post-party .banner .title-text A:hover {color: #fff;}
.post-party .con {float: right; width: 625px; margin-right: 20px; padding: 30px 0 0 0;}
.post-party .con .wp_article_list .list_item {height: 34px; border-bottom: none;}
.post-party .con .wp_article_list .list_item .Article_Index {display: none;}
.post-party .con .wp_article_list .list_item .Article_Title  {width: 80%; height: 34px; line-height: 34px; text-indent: 0; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; float: right; font-size: 14px; font-weight: normal;}
.post-party .con .wp_article_list .list_item .Article_Title A {font-size: 14px; height: 34px; line-height: 34px;}
.post-party .con .wp_article_list .list_item .Article_Title A:hover {}
.post-party .con .wp_article_list .list_item .Article_PublishDate {font-size: 14px; font-weight: normal; width: 18%; height: 34px; line-height: 34px; text-align: left; float: left; color: #333333;}

.post-activity {padding: 10px 20px;}
.post-activity .banner { margin: 0 auto; overflow: hidden; background: url(../images/banner_bottom.gif) center bottom repeat-x;}
.post-activity .banner .title-text { height: 40px; line-height: 40px ; padding:0 10px; text-align: left; text-indent: 0; font-weight: normal; float: left; font-size: 18px; color: #333333; background: url(../images/banner_text_bottom.gif) center bottom repeat-x;}
.post-activity .banner .more {float: right; margin-top: 0;}
.post-activity .banner .more-btn { width: 60px; height: 40px; line-height: 40px; text-align: right; color: #a70a05; font-size: 12px; font-weight: normal;}
.post-activity .banner .more-btn A{ color: #a70a05; text-decoration: none; display: block; width: 60px; height: 40px;}
.post-activity .banner .more-btn A:hover{ color: #a70a05; text-decoration: none;}
.post-activity .con {padding: 20px 0 0 0;}
.post-activity .con .wp_article_list .list_item {height: 34px; border-bottom: none;}
.post-activity .con .wp_article_list .list_item .Article_Index {display: none;}
.post-activity .con .wp_article_list .list_item .Article_Title {width: 100%; height: 34px; line-height: 34px; text-indent: 0px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; float: left; font-size: 14px; font-weight: normal;}
.post-activity .con .wp_article_list .list_item .Article_Title A {font-size: 14px; height: 34px; line-height: 34px;}
.post-activity .con .wp_article_list .list_item .Article_Title A:hover {}

.post-link {}
.post-link .con .sudy-links .links-name { color: #fff; background: #776227 url(../images/link_dropdown.gif) no-repeat right 50%; line-height: 32px; border: none; padding: 0 20px 0 15px; font-weight: normal; font-size: 13px;}
.post-link .con .sudy-links .links-wrap a { padding: 0 15px; }
.post-link .con .sudy-links .links-wrap a:hover { background: transparent; color: #4c4c4c;}
.post-link .con .sudy-links .links-wrap { height: 168px; overflow-y: scroll; border: 1px solid #dadada;}
.post-link .con .wp_article_list .list_item { border-bottom: none; height: 28px; line-height: 28px; }
.post-link .con .wp_article_list .list_item:hover { background: #eee; }
.post-link .con .wp_article_list .list_item .Article_Index { display: none; }
.post-link .con .wp_article_list .list_item .Article_Title { background: url(../images/link_pointer.gif) 5px center no-repeat;	}
.post-link .con .wp_article_list .list_item .ex_fields { display: none; }

/*列表页*/
#container .l-inner {padding: 0;}


/*位置导航*/
.l-inner .page-navigation { width: 96%; height: 30px; line-height: 30px; margin-left: 0; background: #f9f9f9; margin: 0 auto;}
.l-inner .page-navigation .path-box { height: 30px; line-height: 30px; margin: 0 auto; text-align: right; font-size: 12px; color: #979797; float: right; margin-right: 10px;}
.l-inner .page-navigation .path-box .Column_Position {padding:0 0;}
.l-inner .page-navigation .path-box .Column_Position A {font-size: 12px; color: #979797;}
.l-inner .page-navigation .path-box .possplit {width: 12px; background: url(../images/arrow_nextlevel.gif) center center no-repeat; padding: 0 3px;}
.l-inner .page-navigation .col-news-title {height: 30px; line-height: 30px; text-align: center; font-size: 16px; font-weight: bold; color: #333333; float: left; padding: 0 10px;}

.col-box {margin: 0 auto; padding: 25px 0;}
.col-menu {width: 290px; float: left; min-height: 600px;}
.col-news {width: 880px; float: right;  min-height: 600px; background: #fff; padding: 15px 0 0 0;}

.col-menu-title {width: 100%; height: 60px; line-height: 60px; margin: 0 auto; overflow: hidden; background: #352907;}
.col-name {color: #ffffff;	line-height: 60px; font-size: 20px;	text-align: left; text-indent: 15px; font-weight: bold;}
.col-name-text { display: block;}

/*多级栏目列表*/
.col-menu-con {width: 100%; margin: 0 auto; padding:0; background: #fff; border-top: 2px solid #776227;}
.col-list {width:100%; margin: 0 auto; padding: 0; background: transparent;}
/*一级*/
.col-list .wp_listcolumn { border: none; }
.col-list .wp_listcolumn .wp_column {border-bottom: 1px solid #fff; background: transparent;}
.col-list .wp_listcolumn .wp_column.selected {background: #f2f2f2;}
.col-list .wp_listcolumn .wp_column a { font-weight:normal; font-size: 14px; color:#333333; background: url(../images/col_menu_gray.gif) left center repeat-y; border: none;} 	/**一级子栏目及图标**/
.col-list .wp_listcolumn .wp_column a.parent {color:#a70a05; font-weight: normal; background: #fff url(../images/col_menu_hover.gif) left center repeat-y;}
.col-list .wp_listcolumn .wp_column a:hover { color:#a70a05; background: #FFF url(../images/col_menu_hover.gif) left center repeat-y;} /**鼠标经过或选中一级子栏目**/
.col-list .wp_listcolumn .wp_column a.parent:hover { color:#a70a05;} /**鼠标经过或选中一级子栏目**/
.col-list .wp_listcolumn .wp_column a.selected { color:#a70a05; font-weight: bold; background: url(../images/col_menu_hover.gif) left center repeat-y;}
.col-list .wp_listcolumn .wp_column a span.column-name{background: transparent; line-height: 45px; padding: 0; text-indent: 25px;}
.col-list .wp_listcolumn .wp_column a.selected span.column-name{}
.col-list .wp_listcolumn .wp_column a.parent span.column-name{}
/*二级*/
.col-list .wp_listcolumn .wp_subcolumn .wp_column a { font-weight:normal; font-size: 13px; color:#333; background:none; border-top:0px solid #fff; border-bottom:1px solid #e2e2e2; text-indent: 35px;} 	/**二级子栏目**/
.col-list .wp_listcolumn .wp_subcolumn .wp_column a:hover {color:#a70a05;} 	/**鼠标经过或选中二级子栏目**/
.col-list .wp_listcolumn .wp_subcolumn .wp_column a.selected {background: transparent;}
.col-list .wp_listcolumn .wp_subcolumn .wp_column a span.column-name {background: transparent; line-height: 35px;}
.col-list .wp_listcolumn .wp_subcolumn .wp_column a.selected span.column-name {color:#a70a05; font-weight: bold; background: url(../images/li.png) 10px center no-repeat; line-height: 35px;}
.col-list .wp_listcolumn .wp_subcolumn .wp_column a.parent span.column-name {color:#a70a05; font-weight: bold; background: url(../images/li.png) 10px center no-repeat; line-height: 35px;}
/*三级*/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a { font-weight:normal; font-size: 12px; color:#333; background:none; border-top:0px solid #fff; border-bottom:1px solid #e2e2e2;} 	/**三级子栏目**/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover {color:#a70a05;}
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { background: transparent;} 	/**鼠标经过或选中三级子栏目**/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a span.column-name {background: transparent; line-height: 25px; padding-left: 45px;}
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{color:#a70a05; font-weight: bold; background: url(../images/li.png) 35px center no-repeat; line-height: 25px;}
/*四级*/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a { background:none; border-top:0px solid #fff; border-bottom:1px solid #ddd;} 	/**四级子栏目**/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { color:#000;} 	/**鼠标经过或选中四级子栏目**/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#1378b0;}
/*五级*/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a { background:none; border-top:0px solid #fff; border-bottom:1px solid #eee;} 	/**五级子栏目**/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { color:#000;} 	/**鼠标经过或选中五级子栏目**/
.col-list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#1378b0;}

.col-news-con {width: 96%; margin: 0 auto; padding: 15px 0px; min-height: 300px; background: #fff;}
.col-news-list {}
.col-news-list .wp_article_list .list_item {border: none; height: 35px; line-height: 35px; border-bottom: 1px dotted #d9d9d9;}  /**栏目新闻列表**/
.col-news-list .wp_article_list .list_item:hover {background: #f2f2f2;}
.col-news-list .wp_article_list .list_item:hover .Article_Title A {color:#a70a05;}
.col-news-list .wp_article_list .list_item .fields.pr_fields {width: 85%;}
.col-news-list .wp_article_list .list_item .fields.pr_fields .Article_Title {width: 90%; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.col-news-list .wp_article_list .list_item .Article_Index { display: none; margin:0px;}  /**栏目新闻图标序号**/
.col-news-list .wp_article_list .list_item .Article_Title {margin:0px; font-size: 13px; background: url(../images/link_pointer.gif) 15px center no-repeat; text-indent: 30px;}
.col-news-list .wp_article_list .list_item .Article_Title A {color:#333333;}
.col-news-list .wp_article_list .list_item .Article_Title A:hover {color:#a70a05;}
.col-news-list .wp_article_list .list_item .Article_PublishDate {font-size: 13px; color: #919191; padding-right: 10px;}
.col-news-list .wp_entry { line-height:2; font-size:14px; color:#222;}
.col-news-list .wp_entry .paging_content {padding: 10px 30px;}
.col-news-list .wp_entry p { margin-bottom:10px; line-height: 2; font-size: 14px;}
.col-news-list .wp_entry img { max-width:600px; _width:expression(this.width > 600 ? "600px" : this.width); }   /**列表页文章图片大小限制**/
.col-news-list .wp_entry img { max-width:600px; _width:expression(this.width > 500 ? "500px" : "500px"); }   /**列表页文章图片大小限制**/
.col-news-list .wp_entry img { padding: 4px;}
.col-news-list .wp_entry .img-desc {font-family: 楷体; font-size: 14px; font-weight:bold;}
.col-news-list .wp_entry a:hover {color: #234f9e; text-decoration: underline;}
.col-news-list .wp_paging {padding: 10px 0;}
.col-news-list .wp_subcolumn_list .wp_sublist {margin-bottom: 30px;}
.col-news-list .wp_subcolumn_list .wp_sublist .sublist_title {border-bottom: 2px solid #1e76b4; margin-bottom: 5px;}
.col-news-list .wp_subcolumn_list .wp_sublist .sublist_title .morelink .moretext {background: url(../images/sublist-more.png) center center no-repeat;}
.col-news-list .wp_subcolumn_list .wp_sublist .sublist_title .morelink .moretext Img {visibility: hidden;}
.col-news-sublist-con {padding: 5px 30px;}
.col-news-iframe {position: relative}
.col-news-iframe .iframe-mask-consult {position: absolute; width:100%; height: 150px; left: 0; z-index: 999; background: #FFF; font-size: 14px; line-height: 25px;}
.col-news-iframe .iframe-mask-appeal {position: absolute; width:100%; height: 290px; left: 0; z-index: 999; background: #FFF url(../images/workflow-appeal.jpg) center center no-repeat;}
.iframe-mask-appeal-placeholder {width: 100%; height: 100px;}
.col-news-head {width:200px; height:28px; float:left;}
.col-metas {height:28px; line-height:28px; text-indent:20px; color: #333; font-size: 14px; font-weight: bold;}

#wp_paging_w1205 {height:50px;}

/*文章页*/
#container .d-inner {padding: 20px 0 0 0; background: #fff;}

.d-inner .page-navigation { width: 96%;	height: 30px; line-height: 30px; margin: 0 auto; }
.d-inner .page-navigation .path-box { height: 30px; line-height: 30px; margin: 0 auto; text-align: left; font-size: 12px; color: #979797; background: #f9f9f9; text-indent: 10px;}
.d-inner .page-navigation .path-box .Column_Position {padding:0 0;}
.d-inner .page-navigation .path-box .Column_Position A {font-size: 12px; color: #979797;}
.d-inner .page-navigation .path-box .possplit {width: 12px; background: url(../images/arrow_nextlevel.gif) center center no-repeat; padding: 0 3px;}

.article-box {margin: 0 auto; min-height: 500px;}
.article {padding: 0 50px;}
.article h1.article-title {font-weight: normal; padding:25px 0px; text-align:center;  line-height: 120%; font-size:24px; color:#000;} /**文章标题**/
.article .article-meta {position: relative; border-bottom: 1px dotted #ccc;}
.article .article-meta .share {position: absolute; right: 0; top: 0; width: 140px;}
.article .article-metas {padding: 0 0 20px 0; text-align:center; }
.article .article-metas span { margin:0 5px; font-size:12px; color:#999999;} /**文章其他属性**/
.article .entry {margin:0 auto; padding: 20px 0; overflow:hidden;} /**文章内容**/
.article .entry .read, .article .entry .read p { line-height: 2; font-size: 15px; color: #333;} /**阅读字体**/
.article .entry .read p { margin-bottom: 10px;}
.article .entry .read img {max-width:900px; _width:expression(this.width > 900 ? "900px" : this.width); height: auto;} /**文章阅读部分图片大小限制**/
.logo {
    padding-top: 18px;
}
.sitetitle{
	color:#352907;
	font-size:35px;
}